p{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
        
}
h1_sec1{
    color: blueviolet;
    background-color: burlywood;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
    }
    h1{
        color: blueviolet;
        font-weight: 900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        text-decoration: lawngreen;
        
    }
.header{
         font-weight: 700;
         text-align: center;
         font-size: 45px;
        color: red;
        font-style: oblique;
        background-color: khaki;
        height: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

li{
    color: red;
    font-weight: 550;
}
.img{
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 100%;
    padding-bottom: 25px;
    
}
.content{
    padding-top: 25px;
}
.table{
    border: lemonchiffon;
    border-style: dotted;
    border-width: 10px;
    background-color: lightpink;
    padding-right: 10px;
    float: right;
    text-align: center;
    outline-width: 10px;
    max-height: 95%;
    padding-bottom: 0px;
}
th, td {
    border: 1px solid black;
}
#navbar{
    background-color: lime;
    font-weight: 700;
    height: 34px;
    text-align: center;
    
    color: red;
    text-transform: uppercase;
    padding: 1em;
}
a:link {
    color: red;
        }
a:visited {
            color: blue;

          }
a:hover {
            color:yellow;
        }
a:active {
            color:sienna;
          }
span{
    color: blue;
}
.column1,.column2,.colum3{
        float: left;
        width: 33.33%;
        }
        .footer{
            background-color: skyblue;
            margin-top: 50px;
            text-align: center;
        }